<div class="modal-lg">
    <div mat-dialog-title class="mb-head">
        <div class="close-section">
            <a (click)="onNoClick()"><i class="material-icons">close</i></a>
        </div>
        <div class="title-section"><h5>Cuotas</h5>
        </div>
    </div>
    <mat-dialog-content>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="box-panel-chart main-chart">
                        <div style="width: 100%;">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                [options]="barChartOptions" [colors]="lineChartColors" [legend]="barChartLegend"
                                [chartType]="barChartType"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
    </mat-dialog-actions>
</div>