<div class="box-main-outlet">
    <div class="header-main-outlet">
        <div class="container container-full">
            <div class="row justify-content-between">
                <div class="col col-12 col-sm-12 col-md-2 order-2 order-md-1 form-col">
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                        <mat-label>Casa</mat-label>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Casa">
                        <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-1 order-2 order-md-1 form-col" style="width: 100%; margin-top: 15px;">
                    <mat-form-field>
                        <mat-label>Año</mat-label>
                        <mat-select [(ngModel)]="anioSeleccionado" name="anio"  required>
                            <mat-option *ngFor="let anio of anios" [value]="anio">{{anio}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col col-12 col-sm-12 col-md-2 order-2 order-md-1 form-col" style="margin-top: 15px;">
                    <mat-form-field>
                        <mat-label>Tipos</mat-label>
                        <mat-select [formControl]="tiposCuota" multiple [(ngModel)]="tiposCuotaSeleccionados">
                          <mat-option *ngFor="let tipo of tiposString" [value]="tipo">{{tipo}}</mat-option>
                        </mat-select>
                      </mat-form-field>                    
                </div>
                <div class="col col-12 col-sm-12 col-md-4 order-2 order-md-1 form-col" style="text-align: center;padding-top: 10px;">
                    <mat-button-toggle-group name="fontStyle" #group="matButtonToggleGroup" [(ngModel)]="periodo">
                        <mat-button-toggle value="a" (click)='buscar()'>Anual</mat-button-toggle>
                        <mat-button-toggle value="s" (click)='buscar()'>Semestral</mat-button-toggle>
                        <mat-button-toggle value="b" (click)='buscar()'>Bimestral</mat-button-toggle>
                        <mat-button-toggle value="m" (click)='buscar()'>Mensual</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div class="col col-12 col-sm-12 col-md-3 second-opcions-header order-1 order-md-2">
                    <button mat-raised-button color="accent" class="pointer" (click)="buscar()"><mat-icon matSuffix>search</mat-icon></button>
                    <button mat-raised-button color="accent" class="pointer" (click)="openGrafica()"><mat-icon matSuffix>insert_chart</mat-icon></button>
                    <button mat-raised-button color="accent" class="pointer" (click)="openAgregar()"><mat-icon matSuffix>add</mat-icon> Cuota</button>
                </div>
            </div>
        </div>
    </div>
    <div class="body-main-outlet">
        <div class="container container-full">
            <div class="row">
                <div class="col-sm-12 col-md-12 form-col">

                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="cuotas != null && cuotas.length > 0">
                                <ng-container matColumnDef="casa">
                                  <th mat-header-cell *matHeaderCellDef > Casa </th>
                                  <td mat-cell *matCellDef="let element" class="pointer cuotaImporte" (click)="openCasa(element.casa)"> {{element.casa}} </td>
                                  <td mat-footer-cell *matFooterCellDef><b>Totales</b></td>
                                </ng-container>

                                <ng-container matColumnDef="cuota">
                                  <th mat-header-cell *matHeaderCellDef> Cuota </th>
                                  <td mat-cell *matCellDef="let element"> {{element.nombreCuota}} </td>
                                  <td mat-footer-cell *matFooterCellDef></td>
                                </ng-container>

                                <ng-container matColumnDef="m0">
                                  <th mat-header-cell *matHeaderCellDef> Enero </th>
                                  <td mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.cuota && element.cuota.m0" class="pointer cuotaImporte" (click)="openVer(element.cuota.m0._id, element.nombreCuota)">{{element.cuota.m0.importe | currency}}</span>
                                    <span *ngIf="!element.cuota || !element.cuota.m0">$0.00</span>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef><b> {{ tm0 | currency}} </b></td>
                                </ng-container>
                                
                                <ng-container matColumnDef="m1">
                                  <th mat-header-cell *matHeaderCellDef> Febrero </th>
                                  <td mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.cuota && element.cuota.m1" class="pointer cuotaImporte" (click)="openVer(element.cuota.m1._id, element.nombreCuota)">{{element.cuota.m1.importe | currency}}</span>
                                    <span *ngIf="!element.cuota || !element.cuota.m1">$0.00</span>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef><b> {{ tm1 | currency}} </b></td>
                                </ng-container>
                                
                                <ng-container matColumnDef="m2">
                                  <th mat-header-cell *matHeaderCellDef> Marzo </th>
                                  <td mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.cuota && element.cuota.m2" class="pointer cuotaImporte" (click)="openVer(element.cuota.m2._id, element.nombreCuota)">{{element.cuota.m2.importe | currency}}</span>
                                    <span *ngIf="!element.cuota || !element.cuota.m2">$0.00</span>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef><b> {{ tm2 | currency}} </b></td>
                                </ng-container>
                                
                                <ng-container matColumnDef="m3">
                                  <th mat-header-cell *matHeaderCellDef> Abril </th>
                                  <td mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.cuota && element.cuota.m3" class="pointer cuotaImporte" (click)="openVer(element.cuota.m3._id, element.nombreCuota)">{{element.cuota.m3.importe | currency}}</span>
                                    <span *ngIf="!element.cuota || !element.cuota.m3">$0.00</span>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef><b> {{ tm3 | currency}} </b></td>
                                </ng-container>
                                
                                <ng-container matColumnDef="m4">
                                  <th mat-header-cell *matHeaderCellDef> Mayo </th>
                                  <td mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.cuota && element.cuota.m4" class="pointer cuotaImporte" (click)="openVer(element.cuota.m4._id, element.nombreCuota)">{{element.cuota.m4.importe | currency}}</span>
                                    <span *ngIf="!element.cuota || !element.cuota.m4">$0.00</span>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef><b> {{ tm4 | currency}} </b></td>
                                </ng-container>
                                
                                <ng-container matColumnDef="m5">
                                  <th mat-header-cell *matHeaderCellDef> Junio </th>
                                  <td mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.cuota && element.cuota.m5" class="pointer cuotaImporte" (click)="openVer(element.cuota.m5._id, element.nombreCuota)">{{element.cuota.m5.importe | currency}}</span>
                                    <span *ngIf="!element.cuota || !element.cuota.m5">$0.00</span>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef><b> {{ tm5 | currency}} </b></td>
                                </ng-container>
                                
                                <ng-container matColumnDef="m6">
                                  <th mat-header-cell *matHeaderCellDef> Julio </th>
                                  <td mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.cuota && element.cuota.m6" class="pointer cuotaImporte" (click)="openVer(element.cuota.m6._id, element.nombreCuota)">{{element.cuota.m6.importe | currency}}</span>
                                    <span *ngIf="!element.cuota || !element.cuota.m6">$0.00</span>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef><b> {{ tm6 | currency}} </b></td>
                                </ng-container>
                                
                                <ng-container matColumnDef="m7">
                                  <th mat-header-cell *matHeaderCellDef> Agosto </th>
                                  <td mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.cuota && element.cuota.m7" class="pointer cuotaImporte" (click)="openVer(element.cuota.m7._id, element.nombreCuota)">{{element.cuota.m7.importe | currency}}</span>
                                    <span *ngIf="!element.cuota || !element.cuota.m7">$0.00</span>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef><b> {{ tm7 | currency}} </b></td>
                                </ng-container>
                                
                                <ng-container matColumnDef="m8">
                                  <th mat-header-cell *matHeaderCellDef> Septiembre </th>
                                  <td mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.cuota && element.cuota.m8" class="pointer cuotaImporte" (click)="openVer(element.cuota.m8._id, element.nombreCuota)">{{element.cuota.m8.importe | currency}}</span>
                                    <span *ngIf="!element.cuota || !element.cuota.m8">$0.00</span>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef><b> {{ tm8 | currency}} </b></td>
                                </ng-container>
                                
                                <ng-container matColumnDef="m9">
                                  <th mat-header-cell *matHeaderCellDef> Octubre </th>
                                  <td mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.cuota && element.cuota.m9" class="pointer cuotaImporte" (click)="openVer(element.cuota.m9._id, element.nombreCuota)">{{element.cuota.m9.importe | currency}}</span>
                                    <span *ngIf="!element.cuota || !element.cuota.m9">$0.00</span>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef><b> {{ tm9 | currency}} </b></td>
                                </ng-container>
                                
                                <ng-container matColumnDef="m10">
                                  <th mat-header-cell *matHeaderCellDef> Noviembre </th>
                                  <td mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.cuota && element.cuota.m10" class="pointer cuotaImporte" (click)="openVer(element.cuota.m10._id, element.nombreCuota)">{{element.cuota.m10.importe | currency}}</span>
                                    <span *ngIf="!element.cuota || !element.cuota.m10">$0.00</span>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef><b> {{ tm10 | currency}} </b></td>
                                </ng-container>
                                
                                <ng-container matColumnDef="m11">
                                  <th mat-header-cell *matHeaderCellDef> Diciembre </th>
                                  <td mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.cuota && element.cuota.m11" class="pointer cuotaImporte" (click)="openVer(element.cuota.m11._id, element.nombreCuota)">{{element.cuota.m11.importe | currency}}</span>
                                    <span *ngIf="!element.cuota || !element.cuota.m11">$0.00</span>
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef><b> {{ tm11 | currency}} </b></td>
                                </ng-container>

                                <ng-container matColumnDef="total">
                                  <th mat-header-cell *matHeaderCellDef> Total </th>
                                  <td mat-cell *matCellDef="let element"> 
                                        <span *ngIf="element.cuota">{{element.cuota.total | currency}}</span>                                        
                                    </td>
                                    <td mat-footer-cell *matFooterCellDef><b> {{ totalCuotas | currency}} </b></td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                              </table>                              
                  <div class="search-instructions text-center" *ngIf="cuotas == null || cuotas.length == 0">
                      <p>Sin resultados, realice una nueva búsqueda.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>