.img-back {
    z-index: 0;
    top: -90px;
    height: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

.hide {
    font-size: 0rem;
}

.no-background .file-drop-zone-drop {
    color: #bec5cb !important;
    background: inherit !important;
}