
.img-container {
    margin: 0 auto;
    margin-top: 35px;
    background: #ffffff;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    color: #fff;
    text-align: center;
    /*border: 1px solid #f1f1f1;*/
}

.img-container img{
    width: 100%;
    height: 120px;
}

.img-container .img-back{
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-container .noImage{    
    position: relative;
    height: 120px;
    background: #4eb551;
}

.img-container span{
    font-size: 5rem;
    top: 5px;
    position: relative;
}

.img-container label{
    display: block;
    position: relative;
    text-align: center;
    /* bottom: 0px; */
    background: #396e3a;
    /* margin-top: -9px; */
    font-weight: 300;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 5px;
    height: 30px;
}

.img-container input{
    display: none;
}

@media (max-width: 767px) {
    .img-container {
        margin-top: 0px;
        margin-bottom: 25px;
    }
}

.subtitle-select{
    color: #007bff;
}