<div class="modal-md">
    <div mat-dialog-title class="mb-head">
        <div class="close-section">
            <a (click)="onNoClick()"><i class="material-icons">close</i></a>
        </div>
        <div class="title-section">
            <h5>Perfil</h5>
        </div>
        <div class="options-section" *ngIf="perfilForm.valid && perfilForm.dirty">
            <button mat-button color="primary" class="main-botton" (click)="guardar(perfilForm)"  [disabled]="!perfilForm.valid || !perfilForm.dirty" >
                <i class="material-icons">done</i> Guardar
            </button>
        </div>
    </div>
    <mat-dialog-content>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="img-container">
                        <div *ngIf="img != '' && img != null" [style.background-image]="'url(' + img + ')'" class="img-back"></div>
                        <div *ngIf="img == '' || img == null" class="noImage">
                            <span>{{perfilUser.nombre.toUpperCase()}}</span>
                        </div>
                        <input class="ng-hide" id="input-file-id" type="file" (change)="onChange($event)" />
                        <label for="input-file-id" class="md-button md-raised md-primary">Cambiar</label>

                    </div>
                </div>
                <div class="col-sm-12 col-md-9">
                    <div class="form-container container">
                        <form novalidate #perfilForm="ngForm">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="subtitle">
                                        Datos personales
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 form-col">
                                    <div class="form-group">
                                        <mat-form-field class="input-disabled" appearance="outline" style="width: 100%">
                                            <mat-label>Nombre</mat-label>
                                            <input type="text" maxlength="50" matInput placeholder="Nombre" [(ngModel)]="perfilUser.nombre" required #nombre="ngModel" id="nombre" name="nombre" title="Nombre">
                                            <span matSuffix class="matSuffixEmpty"></span>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 form-col">
                                    <div class="form-group">
                                        <mat-form-field class="input-disabled" appearance="outline" style="width: 100%">
                                            <mat-label>Casa</mat-label>
                                            <input type="text" maxlength="50" matInput [(ngModel)]="perfilUser.casa" required #casa="ngModel" id="casa" name="casa" title="Casa">
                                            <span matSuffix class="matSuffixEmpty"></span>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">                                
                                <div class="col-sm-12 col-md-6 form-col">
                                    <div class="form-group">
                                        <mat-form-field appearance="outline" style="width: 100%" style="width: 100%">
                                            <mat-label>Teléfono</mat-label>
                                            <input matInput type="text" maxlength="50" [(ngModel)]="perfilUser.telefono" #telefono="ngModel" id="telefono" name="telefono" title="Teléfono">
                                            <span matSuffix class="matSuffixEmpty"></span>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-subtitle">
                                    <p class="subtitle subtitle-select pointer" (click)="showChangePassword = !showChangePassword">
                                        Cambiar contraseña
                                    </p>
                                </div>
                            </div>
                            <div *ngIf="showChangePassword" class="row">
                                <div class="col-sm-12 col-md-6 form-col">
                                    <div class="form-group">
                                        <mat-form-field appearance="outline" style="width: 100%">
                                            <mat-label>Contraseña nueva</mat-label>
                                            <input [type]="hide ? 'pass' : 'text'" matInput minlength="5" [(ngModel)]="perfilUser.pass" #password="ngModel" id="pass" name="pass" title="Contraseña nueva">
                                            <span matPrefix><i class="icon-password-input fas fa-eye" [class.fa-eye-slash]="hide" (click)="hide = !hide"></i></span>
                                            <span matSuffix class="matSuffixEmpty"></span>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 form-col">
                                    <div class="form-group">
                                        <mat-form-field appearance="outline" style="width: 100%">
                                            <mat-label>Confirmar contraseña</mat-label>
                                            <input [type]="hide ? 'pass' : 'text'" matInput minlength="5" [(ngModel)]="perfilUser.passConfirm" #passConfirm="ngModel" id="passConfirm" name="passConfirm" title="Confirmar Contraseña">
                                            <span matPrefix><i class="icon-password-input fas fa-eye" [class.fa-eye-slash]="hide" (click)="hide = !hide"></i></span>
                                            <span matSuffix class="matSuffixEmpty"></span>
                                        </mat-form-field>
                                        <div *ngIf="perfilUser.passConfirm != perfilUser.pass && (passConfirm.dirty || passConfirm.touched)"
                                             class="alert alert-danger">
                                            La contraseña debe ser la misma.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
    </mat-dialog-actions>
</div>