<div class="modal-md">
        <div mat-dialog-title class="mb-head">
            <div class="close-section">
                <a (click)="onNoClick()"><i class="material-icons">close</i></a>
            </div>
            <div class="title-section">
                <h5>Agregar archivo</h5>
            </div>
            <div class="options-section">
                <button mat-button color="primary" class="main-botton" (click)="importar()"><i class="fas fa-upload"></i> Agregar</button>                
            </div>
        </div>
        <mat-dialog-content>
            <div class="form-container container">
                <form novalidate #importarComprobanteForm="ngForm">
                    <div class="row align-items-center">
                        <div class="col-sm-12 form-col file-import">
                            <app-multiple-file-input [name]="'fileImport'"
                                            [ext]="xmlExt"
                                            [placeholder]="'Haz clic para importar archivos o arrastralos aquí'"
                                            (onChangeFile)="getFileInput($event)" title="Archivo a importar"></app-multiple-file-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 box-importar">
                            <div class="box-initial-help">
                                <div class="content-initial-help">
                                    <div class="notes-initial-help">
                                        <p class="text-left" style="font-size: 0.8rem;"><i>*El tiempo de importación depende del volumen de información.</i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="min-height:300px">
                            <div class="box-import" *ngIf="importaciones && importaciones.length > 0" [@flyInOut]="importaciones.length">
                                <div *ngFor="let importacion of importaciones; let i = index" class="box-import-show">
                                    <div *ngIf="importacion.estado != 4">
                                        <div class="box-import-element">
                                            <div class="bie-head">
                                                <i class="material-icons pointer" (click)="eliminarImportacion(importacion)">close</i>                                                
                                            </div>
                                            <div class="bie-content">
                                                <div class="icono">
                                                    <i class="material-icons pointer">insert_drive_file</i>
                                                </div>
                                                <div class="text">
                                                    <div *ngIf="importacion.estado != 3">
                                                        <p class="title title-file" title="{{importacion.fileInput.name}}">{{importacion.fileInput.name}}</p>
                                                    </div>
                                                    <div *ngIf="importacion.estado == 3 && importacion.importDataLog != null && importacion.importDataLog.status != true" class="error">
                                                        <p class="subtitle" title="{{importacion.importDataLog.errorDescription}}">{{importacion.importDataLog.errorDescription}}</p>
                                                    </div>
                                                    <div *ngIf="importacion.estado == 3 && importacion.importDataLog != null && importacion.importDataLog.status == true">
                                                        <p class="title" title="{{importacion.importDataLog.column}}">${{importacion.importDataLog.column}}</p>
                                                        <p class="subtitle" title="{{importacion.importDataLog.row}}">{{importacion.importDataLog.row}}</p>
                                                        <!--<p class="nota">{{importacion.importDataLog.value == "I" ? "Ingreso" : importacion.importDataLog.value == "E" ? "Egreso" : "Pago"}} </p>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>
        </mat-dialog-actions>
    </div>