<div class="modal-md">
    <div mat-dialog-title class="mb-head">
        <div class="close-section">
            <a (click)="onNoClick()"><i class="material-icons">close</i></a>
        </div>
        <div class="title-section">
            <h5>Agregar aviso</h5>
        </div>
        <div class="options-section" *ngIf="avisoForm.valid">
            <button mat-button color="primary" class="main-botton" (click)="guardar(avisoForm)">
                <i class="material-icons">done</i> Guardar
            </button>
        </div>
    </div>
    <mat-dialog-content>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="form-container container">
                        <form novalidate #avisoForm="ngForm">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="subtitle">
                                        Datos generales
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-4 form-col">
                                    <mat-form-field>
                                        <mat-label>Nivel</mat-label>
                                        <mat-select [(ngModel)]="aviso.prioridad" name="prioridad" style="width: 100%" required>
                                            <mat-option [value]="'bajo'">Bajo</mat-option>
                                            <mat-option [value]="'medio'">Medio</mat-option>
                                            <mat-option [value]="'alto'">Alto</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 form-col">
                                    <div class="form-group">
                                        <mat-form-field title="Mensaje" class="input-textArea" appearance="outline"
                                            style="width: 100%">
                                            <textarea matInput #aviso placeholder="Mensaje" maxlength="250"
                                                [(ngModel)]="sMensaje" name="aviso"></textarea>
                                            <span matSuffix class="matSuffixEmpty"></span>
                                            <mat-hint align="end">{{aviso.value?.length || 0}}/250</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">                                            
                                <div class="form-group" style="margin: auto;margin-right: 0px;">
                                    <div class="col-sm-12 col-md-12 form-col">
                                        <mat-slide-toggle [(ngModel)]="IsCorreo" [ngModelOptions]="{standalone: true}">Enviar correo</mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
    </mat-dialog-actions>
</div>