<div class="modal-md">
    <div mat-dialog-title class="mb-head">
        <div class="close-section">
            <a (click)="onNoClick()"><i class="material-icons">close</i></a>
        </div>
        <div class="title-section">
            <h5>Cumplimiento</h5>
        </div>
        <div class="options-section">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openEditar()">
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item (click)="eliminar()">
                  <mat-icon>delete_forever</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu> 
        </div>
    </div>
    <mat-dialog-content>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="subtitle">
                                Datos generales
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4 form-col">
                            <div class="form-box-dato">
                                <div class="title"><p>Casa</p></div>
                                <div class="valor"><p>{{cumplimiento.casa}}</p></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 form-col">
                            <div class="form-box-dato">
                                <div class="title"><p>Año</p></div>
                                <div class="valor"><p>{{cumplimiento.anio}}</p></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 form-col">
                            <div class="form-box-dato">
                                <div class="title"><p>Mes</p></div>
                                <div class="valor"><p>{{getMes(cumplimiento.mes)}}</p></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-md-8 form-col">
                            <div class="form-box-dato">
                                <div class="title"><p>Tipo</p></div>
                                <div class="valor"><p>{{tipo}}</p></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 form-col">
                            <div class="form-box-dato">
                                <div class="title"><p>Importe</p></div>
                                <div class="valor"><p>{{ cumplimiento.importe | currency}}</p></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">                        
                        <div class="col-sm-12 col-md-2 form-col">
                            <div class="form-box-dato">
                                <div class="title"><p>Nivel</p></div>
                                <div class="valor"><p>{{cumplimiento.nivel}}</p></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-10 form-col"  *ngIf="cumplimiento.nota && cumplimiento.nota != ''">
                            <div class="form-box-dato">
                                <div class="title"><p>Nota</p></div>
                                <div class="valor"><p>{{cumplimiento.nota}}</p></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="subtitle">
                                Datos de alta
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-8 form-col">
                            <div class="form-box-dato">
                                <div class="title"><p>Usuario alta</p></div>
                                <div class="valor"><p>{{cumplimiento.usuario}}</p></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 form-col">
                            <div class="form-box-dato">
                                <div class="title"><p>Fecha alta</p></div>
                                <div class="valor"><p>{{cumplimiento.fechaAlta | date: 'dd/MM/yyyy': '+0'}}</p></div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
    </mat-dialog-actions>
</div>