/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v13/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

/*   GENERAL   */

@font-face {
    font-family: 'montserrat';
    src: url('./assets/font/montserrat-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('./assets/font/montserrat-mediumitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('./assets/font/montserrat-regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('./assets/font/montserrat-italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('./assets/font/montserratlight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('./assets/font/montserrat-lightitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat';
    src: url('./assets/font/montserrat-semibold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'montserrat';
    src: url('./assets/font/montserrat-semibolditalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

.pointer{cursor: pointer}
/*   LOADING   */
.app-loading {
    margin: 0 auto;
    height:100%;
}

.app-loading .loader {
    margin: 0 auto;
    margin-top: 20%;
    border: 12px solid #f3f3f3;
    border-top: 12px solid #46b249;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

html {
    height: 100% !important;
}

body {
    height: 100% !important;
    font-family: 'montserrat', sans-serif !important;
    position: relative;
    color: #343944;  
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {    
    font-family: 'montserrat', sans-serif !important;
    font-size: 14px;
    font-weight: 500;
}

/*ESTILO SCROLL*/
::-webkit-scrollbar {
    width: 12px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: rgba(48, 56, 92, 0.05);
    box-shadow: inset 0 2px 20px 2px rgba(19,30,66,0.11);
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
    background: rgba(19, 30, 66, 0.2);
    box-shadow: inset 0 2px 20px 2px rgba(19,30,66,0.11);
}

/*SIDE BAR*/
.mat-drawer-container{
    z-index:0!important;
}

.mat-drawer-content{
    position: static;
}

.sidebar-content {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /*min-height: 450px;*/
    padding-bottom: 63px;
}

.sidebar-menu {
    position: relative;
    margin-top: 15px;
    transition: all 0.5s;
    width: 100%;
}

.menuHide {
    margin-left: -210px;
}

.sidebar-menu ul{
    list-style: none;
    padding: 0px;
}

.sidebar-menu li{
    padding: 8px 15px 8px 15px;
    cursor:pointer;
}

.sidebar-menu i {
    margin-right: 10px;
    width: 30px;
    text-align: center;
    color: #343944;
    font-size: 1rem;
    vertical-align: text-bottom;
}

.sidebar-menu a {
    font-size: 0.8rem;
    color: #343944 !important;
    cursor: pointer;
    text-decoration: none;
}

.sidebar-menu .menuActive{
    color: #4eb551 !important;
    font-weight: 500;    
    outline: none;
}

.sidebar-menu .menuActive i{    
    color: #4eb551 !important;
}

.sidebar-menu .menuActive a{    
    color: #4eb551 !important;
}

.sidebar-menu li:hover{
    background:#efefef;
}

.sidebar-menu-sec {
    position: absolute;
    background: #fff;
    top: 0px;
    width: 210px;
    left: 210px;
    transition: all 0.5s;
    height: 100%;
}

.menuSecShow {
    left: 0px;
    z-index: 1;
}

.sidebar-menu-sec div{
    margin-left: 210px;   
    width: 100%;
}

.sidebar-menu-sec .element {
    margin-left: 210px;
    position: absolute;
    margin-top: 15px;
    transition: all 0.5s;
}

.elementShow {
    margin-left: 0px !important;
    display: block !important;
}

.sidebar-menu-sec .element span {
    color: #343944;
    font-size: 0.8rem;
    padding-left: 20px;
}

.sidebar-menu-sec .element .icon{
    margin-right: 10px;
    font-size: 1rem;
    vertical-align: text-bottom;
}


.sidebar-menu-sec .element .back {
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 10px;
    width: 30px;
    text-align: center;
}

.li-hr{
    cursor:auto !important;
}

.li-hr:hover {
    background: none !important;
}

.sidebar-menu-sec .element .back:hover{
    color: #46b249;
}

.sidebar-menu-sec ul {
    list-style: none;
    padding: 0px;
    font-size: 0.8rem;
    padding-top: 10px;
}

.sidebar-menu-sec li {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    cursor: pointer;
    padding-right: 10px;
    margin-bottom: 5px;
    color: #343944;
}

.sidebar-menu-sec li:hover {
    background:#efefef;
}

.sidebar-menu-sec li a{
    color: #343944 ;
}

.sidebar-menu-sec li a:hover{
    color: #6f6f6f;
    text-decoration:none;
}

.submenu-icon {
    color: #4eb551;
    margin-right: 10px;
    display: none;
}

.menuSecActive a {
    color: #4eb551 !important;
}
.menuSecActive{
    outline: none;
}


@media (max-width: 767px) {
    .sidebar-menu hr{
        margin: 0px;
    }
}

/*  SIDEBAR FOOT  */
.sidebar-foot {
    text-align: center;
    bottom: 70px;
    position: absolute;
    width: 100%;
    color: #343944;
    z-index: 2;
}

.sidebar-foot a {
    color: #343944;
    font-size: 0.7rem;
}

.sidebar-foot a:hover {
    text-decoration:none;
}

.sidebar-foot span {
    color: #343944 ;
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 767px) {
    .panel-sidebar-foot {
        bottom: 10%;
    }
}

@media (max-height: 700px) {
    .panel-sidebar-foot {
        position: relative;
        bottom: -25%;
    }
}


/*  MAIN Container Sidebar-Navbar  */
.main-app {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background: #ffffff;
}

.main-header {
    width: 100%;
    background: #ffffff;
    height: 46px;
    position: relative;
    /*box-shadow: 0px 0px 10px -3px #222;*/
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    z-index: 1
}

.main-sidenav {
    width: 100%;
    background: #f9f9fa;
    height: 100%;
    position: relative;
    max-height: 100%;
    padding-bottom: 62px;
    /*top: 3px;*/
    z-index: 0;
}

.main-sidenav-menu {
    /*display: flex !important;
    align-items: center;
    justify-content: center;
    width: 230px;
    background: #ffffff;
    box-shadow: 0px 0px 10px -3px #222;
    z-index: 1 !important;*/
    display: inline-block;
    /*width: 230px;*/
    height: 100%;
    margin-right: 3px;
    background: #ffffff;
    vertical-align: top;
    /*box-shadow: 0px 0px 10px -3px #222;*/
    border-right: 1px solid #dadada;
    width: 210px;
}

.main-sidenav-container {
    /*position: absolute !important;
    top: 63px;
    bottom: 0px;
    left: 0;
    right: 0;
    background: #f9f9fa;*/
    display: inline-block;
    height: 100%;
    overflow-y: auto;
    background: #f9f9fa;
    /* padding-bottom: 15px; */
    position: relative;
    left: 3px;
}

.mat-drawer{
    z-index:0 !important;
}

.mat-drawer-content{
    z-index:1;
}

.sidenav-toggle {
    color: #343944;
    font-size: 1.4rem;
    width: 22px;
    height: 20px;
    text-align: center;
    transition: all 0.1s;
    cursor: pointer;
    margin-left: 2px;
    height: 60px;
    padding-top: 19px;
}

.sidenav-toggle:hover {
    color: #46b249;
}

.sidenav-toggle:active {
    color: #46b249;
    font-size: 1rem;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 60px !important;
}

/* NAVBAR generic*/
.app-navbar-inicio {
    width: 100%;
    height: 100%;
}

.navbar-main {
    height: 100%;
    width: 100%;
    padding: 10px;
}

.nv-logo {
    display: inline-block;
    height: 100%;    
}

.nv-logo-big {
    display: inline-block;
    position: relative;
    height: 100%;
    margin-left: 5px;
    width: 80px;
}

.nv-logo-small {
    display: inline-block;
    position: relative;
    height: 100%;
    display: none;
}

.nv-img-profile {
    width: 35px;
    top: -2px;
    position: relative;
}

.nv-img-profile img{
    width: 100%;
    vertical-align: middle;
}

.nv-user-data {
    padding: 10px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nv-user-data span{
    display: block;
    font-size: 0.8rem;
    width: 100%;
    line-height: 22px;    
    overflow: hidden;
    font-weight: normal;
    width: 140px;
    height: 25px;
}

.nv-user-data strong{
    color: #4eb551;
    font-weight:500;
}

.nv-hide-text-large {
    display: inline-block !important;
    position: absolute;
    width: 10px;
    height: 55px;
    margin-top: -52px;
    /* background: #cac1c1; */
    box-shadow: -3px 0px 7px 3px #fff;
    right: -2px;
}

.img-profile {
    width: 100%;
    height: 35px;
    border-radius: 33px;
    background-position: center;
    background-size: cover;
}

@media (max-width: 839px) {
    .nv-logo-small {
        display:block;
    }

    .nv-logo-big {
        display: none;
    }
}


/*  Nav  Panel */
.nv-empresa-logo {
    height: 100%;
    width: 120px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
    margin-left: 12px;
    border-left: 1px solid #dadada;
    padding-left: 15px;
}

.nv-empresa-logo img{
    vertical-align: -webkit-baseline-middle;    
     height: 100%;
}
.nv-empresa-logo .img-back{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.nv-empresa-datos {
    display: inline-block;
    font-size: 0.8rem;
    color: #343944;
    position: absolute;
    height: 40px;
    width: 40%;
    margin-top: 2px;
    margin-left: 20px;
}

.empresa-nombre, .empresa-sucursal {
    line-height: 0;
}

.empresa-nombre div, .empresa-sucursal div{
    width: 100%;
    height: 100%;
    line-height: normal;
    overflow-x: hidden;
}

.empresa-sucursal {
    color: #343944;
    font-size: 0.7rem;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    white-space: normal !important;
}

.nv-options {
    float: right;
    height: 100%;
    white-space: normal !important;
}

.nv-options a {
    color: #343944;
}

.nv-option-profile-a {
    vertical-align: middle;
    color: #343944;
    text-align: center;
    transition: all 0.1s;
}

.nv-option-profile-a:active {
   color: #828282;
   font-size: 2rem;
}

.nv-option-profile {
    display: inline-block;
    font-size: 2rem;
}

.nv-option-profile .dropdown-menu {
    margin: 0.125rem 0 0;
    font-size: 0.8rem;
    padding: 0px;
    min-width: 8rem;
    max-width: 10rem;
    box-shadow: 0px 1px 5px -1px #222;
    border: none;
    color: #343944;
    transform: translate3d(-124px, 35px, 0px) !important;
}

.nv-option-profile .dropdown-item {
    padding: 0.4rem .5rem;
    cursor: pointer;
    line-height: normal;
}

.nv-option-profile .dropdown-item a{
    color: #343944 ;
}


.nv-option-profile .dropdown-item i {
    font-size: 1.1rem;
    color: #343944 ;
    margin-right: 5px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-left: 3px;
}

.dropdown-item:hover, .dropdown-item:focus {
    text-decoration: none;
    background-color: #f3f3f3;
}

.nv-option-element {
    display: inline-block;
    margin-right: 10px;
    vertical-align: sub;
    color: #343944 !important;
}

.nv-option-element:hover > a{
    color:#4eb551 !important;
    cursor: pointer !important;
}

.nv-option-hidden{
    display: inline-block;
}

.dropdown-menu-hidden{
    display: none;
}

@media (max-width: 839px) {
    .nv-option-hidden {
        display: none;
    }

    .dropdown-menu-hidden {
        display: block;
    }

    .nv-empresa-logo {
        display:none;
    }

    .nv-empresa img{
        display:none;
    }
}


@media (max-width: 750px) {
    .nv-empresa-datos {
        font-size: 0.7rem;
    }
}

@media (max-width: 479px) {
    .nv-empresa-datos {
        margin-left:10px;
    }
}

@media (max-width: 390px) {
    .nv-empresa-datos {
        width: 120px;
    }
}


/*-------------------------MODAL------------------------*/
.modal-window {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(166, 166, 166, 0.45);
    background: rgba(0, 0, 0, 0.5019607843137255);
    z-index: 11;
    margin: auto 0;
    top: 0;
    left: 0;
}

    .modal-window .modal-margin {
        height: 100%;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        position: absolute;
        top: 0px;
        left: 0px;
        justify-content: center;
        align-items: center;
    }

    .modal-window .modal-box {
        margin: 0 auto;
        position: relative;
        display: block;
        top: 6%;
        box-shadow: 0 0 19px -2px #767676;
        background: #fff;
        z-index: 123;
        border-radius: 3px;
        transform: translateY(-200%);
        opacity: 0.1;
        max-height: 95%;
        overflow: hidden;
    }

.mb-head {
    position: relative;
    display: block;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    height: 46px;
    margin:0px !important;
}

.mb-head .close-section{
    display: inline-block;
    width: 40px;
    height: 100%;
    text-align: center;
    vertical-align: sub;
}


.mb-head .close-section a {
    cursor: pointer;
    font-size: 1.2rem;
    position: relative;
    color: #343944 !important;
    top: 7px;
}

.mb-head .title-section{
    display: inline-block;
    height: 100%;
    text-align: left;
    vertical-align: top;
    max-width: 35%;
}

.mb-head .title-section h5{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #343944;
    font-weight: 500;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    max-height: 18px;
    vertical-align: bottom;
    width: 100%;
}

@media (min-width: 1020px) {
    .mb-head .title-section {
        max-width: 50%;
    }
}

@media (max-width: 520px) {
    .mb-head .title-section h5 {
        font-size: 0.7rem;
        max-height: 25px;
        word-break: break-word;
        margin-top: 10px;
    }
}

.mb-head .options-section {
    float: right;
}

.mb-head button {
    float: right;
}

.mb-head .main-botton {
    background: #4eb551;
    border-radius: 0px;
    color: #fff;
    box-shadow: none;
    font-size: 0.9rem;
    font-weight: 500;
    height: 46px;
}

.mb-head .main-botton i{
    color: #fff;
    margin-top: -3px;
}

.mb-head .modal-help-icon {
    color: #4eb551;
    cursor: pointer;
    float: right;
    margin-right: 25px;
    margin-top: 18px;
    font-size: 0.8rem;
}

.mb-head h5 span {
    color: #4eb551;
}

.mb-head .opciones-secundarias{
    float: right;
    height: 46px;
    width: 25px;
    background: #4eb551;
    border-left: 1px solid #fff;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
    color: #fff;
}

.mb-head-opciones button{
    margin-right: 25px;
}

#main-header, #main-container{
    -webkit-transition-property: top, margin-left; /* Safari */
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-property: top, margin-left;
    transition-duration: 0.1s;
}

.modal-sm {
    max-width: 400px !important;
}

.modal-md {
    max-width: 750px !important;
}

.modal-lg {
    max-width: 100%;
    width: 1280px;
    /*max-width: 92% !important;*/
}

@media (max-width:820){
    .modal-lg {
        max-width: 100% !important;
    }
}

.modal-box {
    transform: translateY(-200%);
    opacity: 0.1;
    overflow: hidden;
}

.ios-modal-header {
    top: -63px;
}

.ios-modal-container {
    top: 0px;
    position: absolute !important;
    padding-bottom: 0px;
    border-radius: 3px;
}

.ios-modal-sidebar {
    transform: translate3d(-100%, 0px, 0px) !important;
}

.ios-modal-content {
    margin-left: 0px !important;
}

.mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    display: block;
    padding: 0px !important;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: hidden !important;
    outline: 0;
    width: 100%;
    height: 100%;
}

.mat-dialog-content {
    display: block;
    padding: 24px 24px !important;
    max-height: 85vh !important;
    margin: 0px !important;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #fff !important;
}

@media (max-height:680px) {
    .mat-dialog-content {
        max-height: 75vh !important;
    }
}

@media (max-height:420px) {
    .mat-dialog-content {
        max-height: 55vh !important;
    }
}


.cdk-overlay-pane {
    /*max-width: none !important;*/
    max-width: 100% !important;
    max-height: 100%;
}

.mat-dialog-actions:last-child {
    margin-bottom: 0px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 1px !important;
}

.mat-datepicker-content .mat-calendar {
    width: 305px !important;
    height: 365px !important;
    padding: 10px 25px 25px 25px;
}

.mat-calendar-previous-button, .mat-calendar-next-button {
    margin: 5px !important;
}

.mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 1.25em !important;
}

.input-datepicker .mat-input-suffix {
    position: relative;
    top: -7px;
    color: #343944;
}

/**COMPONENTE ELIMINAR*/
.eliminar-container{
    font-size: 0.8rem;
}

.eliminar-container .main-botton{
    width: 100%;
}

.eliminar-container b{    
    font-size: 0.9rem;
}

/**PDF VISUALIZACION*/
.pdf-visualizacion {
    padding: 0px !important;
}

.pdf-visualizacion .container{
    padding: 0px;
}

.pdf-visualizacion iframe{
    width: 100%;
    height: 80vh;
    border: none;
}

/*** MAIN OUTLET ***/
.no-content {
    background: #e9ecef;
    width: 100%;
    height: 46px;
    border-radius: 5px;
    text-align: center;
    padding-top: 14px;
    color: #c4cbd0 !important;
    cursor: context-menu;
}

.box-main-outlet {
    padding: 20px;
}

.header-main-outlet {
    width: 100%;
    min-width: 235px;
}

.container-full {
    margin: 0px;
    max-width: 100%;
    padding: 0px;
}

.container-full .row{
    margin:0px;
}

.header-main-outlet .row{
    padding: 0px;
    margin: 0px;
}

.header-main-outlet .row .col{
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
}

.header-main-outlet .input-buscar i{
    color: #bec5cb;
}

.header-main-outlet .input-buscar .close-icon {
    color: #343944;
    position: relative;
    top: -7px;
}

.input-buscar i {
    color: #bec5cb;
}

.input-buscar .close-icon {
    color: #343944;
    position: relative;
    top: -7px;
}

.header-main-outlet .other-options {
    display: inline-block;
    float: right;
    color: #343944;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 18px;
}

.header-main-outlet .other-options .form-group{
    display:inline-block;
    margin: 0px;
    margin-right:10px;
}
.header-main-outlet .other-options .form-group i{
    margin-right: 10px;
}

.header-main-outlet .second-opcions-header {
    text-align: right;
    height: 46px;
}

.header-main-outlet .second-opcions-header .form-group{
    display: inline-block;
    margin-bottom: 0px;
}

.header-main-outlet .second-opcions-header i{
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    color: #343944;
    margin-top: 15px;
}


.header-main-outlet .second-opcions-header button i{
    margin-top: 0px;
}

.header-main-outlet .second-opcions-header i:hover{
    color: #46b249;
}

.header-main-outlet .second-opcions-header .ayuda{
    color: #46b249;
}

.header-main-outlet .opcionesSeleccionar + .form-group{
    display: inline-block;
    width: 67.5%;
    padding-left: 5px;
}

@media (min-width:960px){
    .header-main-outlet .opcionesSeleccionar + .form-group {
        width: 77.5%;
    }
}

.header-main-outlet .opcionesSeleccionar {
    background: #fff;
    margin-bottom: 0px;
    height: 46px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 6px;
    border: 1px solid #d3d8dc;
    padding-top: 8px;
    width: 65px;
    color: #757575;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding-left: 5px;
    min-width: 35px;
}

@media (max-width:765px){
    .header-main-outlet .second-opcions-header {
        text-align: center;
    }
    .header-main-outlet .opcionesSeleccionar {
        width: 29%;
    }
    .header-main-outlet .opcionesSeleccionar + .form-group{
        width: 65%;
    }
}

@media (max-width:540px) {
    .header-main-outlet .second-opcions-header .btn-agregar{

    }

    .header-main-outlet .second-opcions-header .btn-agregar .mat-button {
        min-width: 0px;
        font-size: 0px;
        margin-bottom: 5px;
    }

    .header-main-outlet .second-opcions-header .btn-agregar .mat-button i {
        font-size: 1rem;
        margin: 0px !important;
        padding: 0px;
        vertical-align: middle;
    }

    .header-main-outlet .second-opcions-header i {
        margin-bottom: 10px;
        vertical-align: sub;
    }

}

.ayuda-icon {
    font-size: 1rem;
    float: right;
    color: #46b249 !important;
    cursor: pointer;
    margin-top: 14px;
}

.main-botton i {
    margin-right: 5px !important;
    margin-left: 0px !important;
    color: #ffffff !important;
}


.main-botton i:hover {
    color: #ffffff;
}

.body-main-outlet {
    width: 100%;
    position: relative;
    display: block;
    min-height: 5px;
}

.body-main-outlet .search-loading{
    top: 50px;
}

.body-main-outlet .search-loading-list{
    top: 0px;
}

.body-main-outlet .form-col{
    padding-left: 5px;
    padding-right: 5px;
}

.btn-refresh{
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}

.mat-raised-button{    
    line-height: 46px !important;
}

.box-main-outlet .form-group {
    margin-bottom: 0.7rem !important;
}

/* Table */
.box-main-outlet table{
    font-family: 'montserrat' !important;
}

.box-main-outlet table thead{    
    background: #f1f1f1  !important;
}

.box-main-outlet table thead th{
    font-family: 'montserrat' !important;
    font-weight: bold !important;
    font-size: 14px !important;
    color: #7c4dff  !important; 
}

.mat-sort-header-arrow {
    color: #7c4dff !important;
}

.mat-slide-toggle{
    font-family: 'montserrat' !important;
    font-size: 14px !important;
}

/**TOAST**/
.toast-container .toast {
    position: relative;
    margin: 0;
    padding: 11px 10px 11px 50px;
    width: 230px;
    border-radius: 0 0 0 0;
    background-position: 15px;
    background-repeat: no-repeat;
    background-size: 20px;
    box-shadow: none;
    color: #fff;
}

.toast-close-button span {
    font-size: 1.3rem;
    font-weight: 100;
}

.toast-container * {
    box-sizing: border-box;
    font-size: 0.8rem;
}
.toast-center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-left {
    top: 12px;
    left: 12px;
}

.toast-top-right {
    top: 0px;
    right: 0px;
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}

/* toast styles */
.toast-title {
    font-weight: normal;
}

.toast-message {
    word-wrap: break-word;
    font-size: 0.8rem;
}

    .toast-message a,
    .toast-message label {
        color: #FFFFFF;
    }

        .toast-message a:hover {
            color: #CCCCCC;
            text-decoration: none;
        }

.toast-close-button {
    position: relative;
    right: 0px;
    top: -9px;
    float: right;
    font-size: 20px;
    font-weight: 200;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #ffffff;
    /* opacity: 0.8; */
}

    .toast-close-button:hover,
    .toast-close-button:focus {
        text-decoration: none;
        cursor: pointer;
    }
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}

.toast-container {
    pointer-events: none;
    position: fixed;
    z-index: 999999;
}

    .toast-container * {
        box-sizing: border-box;
    }

    .toast-container .toast {
        position: relative;
        /* overflow: hidden; */
        margin: 0 0 0px;
        /* margin: 5px 5px 10px 10px; */
        padding: 10px 10px 10px 70px;
        width: 300px;
        border-radius: 0px 0px 0px 0px;
        background-position: 18px center;
        background-repeat: no-repeat;
        background-size: 35px;
        box-shadow: none;
        color: #ffffff;
    }

        .toast-container .toast:hover {
            box-shadow: none;
            opacity: 1;
            cursor: pointer;
        }
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 40c118.621 0 216 96.075 216 216 0 119.291-96.61 216-216 216-119.244 0-216-96.562-216-216 0-119.203 96.602-216 216-216m0-32C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm-36 344h12V232h-12c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h48c6.627 0 12 5.373 12 12v140h12c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12h-72c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12zm36-240c-17.673 0-32 14.327-32 32s14.327 32 32 32 32-14.327 32-32-14.327-32-32-32z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 464c-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216zm94.8-285.3L281.5 256l69.3 69.3c4.7 4.7 4.7 12.3 0 17l-8.5 8.5c-4.7 4.7-12.3 4.7-17 0L256 281.5l-69.3 69.3c-4.7 4.7-12.3 4.7-17 0l-8.5-8.5c-4.7-4.7-4.7-12.3 0-17l69.3-69.3-69.3-69.3c-4.7-4.7-4.7-12.3 0-17l8.5-8.5c4.7-4.7 12.3-4.7 17 0l69.3 69.3 69.3-69.3c4.7-4.7 12.3-4.7 17 0l8.5 8.5c4.6 4.7 4.6 12.3 0 17z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 464c-118.664 0-216-96.055-216-216 0-118.663 96.055-216 216-216 118.664 0 216 96.055 216 216 0 118.663-96.055 216-216 216zm141.63-274.961L217.15 376.071c-4.705 4.667-12.303 4.637-16.97-.068l-85.878-86.572c-4.667-4.705-4.637-12.303.068-16.97l8.52-8.451c4.705-4.667 12.303-4.637 16.97.068l68.976 69.533 163.441-162.13c4.705-4.667 12.303-4.637 16.97.068l8.451 8.52c4.668 4.705 4.637 12.303-.068 16.97z'/%3E%3C/svg%3E");
}
/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.054-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.952 83.154 0l239.94 416.028zm-27.658 15.991l-240-416c-6.16-10.678-21.583-10.634-27.718 0l-240 416C27.983 466.678 35.731 480 48 480h480c12.323 0 19.99-13.369 13.859-23.996zM288 372c-15.464 0-28 12.536-28 28s12.536 28 28 28 28-12.536 28-28-12.536-28-28-28zm-11.49-212h22.979c6.823 0 12.274 5.682 11.99 12.5l-7 168c-.268 6.428-5.556 11.5-11.99 11.5h-8.979c-6.433 0-11.722-5.073-11.99-11.5l-7-168c-.283-6.818 5.167-12.5 11.99-12.5zM288 372c-15.464 0-28 12.536-28 28s12.536 28 28 28 28-12.536 28-28-12.536-28-28-28z'/%3E%3C/svg%3E");
}

.toast-container.toast-top-center .toast,
.toast-container.toast-bottom-center .toast {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.toast-container.toast-top-full-width .toast,
.toast-container.toast-bottom-full-width .toast {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.toast {
    background-color: #030303;
    pointer-events: auto;
}

.toast-success {
    background-color: #51A351;
}

.toast-error {
    /*bd2f50*/
    background-color: #ff305c;
}

.toast-info {
    background-color: #44a2e4;
}

.toast-warning {
    background-color: #ffb100;
}

.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000000;
    opacity: 0.4;
}
/* Responsive Design */
@media all and (max-width: 240px) {
    .toast-container .toast.div {
        padding: 8px 8px 8px 50px;
        width: 11em;
    }

    .toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}

@media all and (min-width: 241px) and (max-width: 480px) {
    .toast-container .toast.div {
        padding: 8px 8px 8px 50px;
        width: 18em;
    }

    .toast-container .toast-close-button {
        right: -0.2em;
        top: -0.2em;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    .toast-container .toast.div {
        padding: 15px 15px 15px 50px;
        width: 25em;
    }
}

.color-activo{
    color: #6dc928;
}

.color-inactivo{
    color: #ff9f4d;
}