<div class="box-main-outlet">
    <div class="header-main-outlet">
        <div class="container container-full">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-1 form-col" style="width: 100%; margin-top: 15px;">
                    <mat-form-field>
                        <mat-label>Año</mat-label>
                        <mat-select [(ngModel)]="anioSeleccionado" name="anio" required>
                            <mat-option *ngFor="let anio of anios" [value]="anio">{{anio}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col col-12 col-sm-12 col-md-11 second-opcions-header">
                    <button mat-raised-button color="accent" class="pointer" (click)="buscar()">
                        <mat-icon matSuffix>search</mat-icon>
                    </button>
                    <button mat-raised-button color="accent" class="pointer" (click)="openGrafica()"><mat-icon matSuffix>insert_chart</mat-icon></button>
                    <button mat-raised-button color="accent" class="pointer" (click)="imprimir()">
                        <mat-icon matSuffix>print</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="body-main-outlet">
        <div class="container container-full" id="reporte">
            <div class="row">
                <div class="col-sm-12 col-md-12 form-col">
                    <table mat-table [dataSource]="dataSourceCuotas" class="mat-elevation-z8"
                        *ngIf="tablaCuotas != null && tablaCuotas.length > 0">
                        <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef> Cuotas </th>
                            <td mat-cell *matCellDef="let element" style="width: 275px;"> {{element.tipo}} </td>
                            <td mat-footer-cell *matFooterCellDef><b>TOTAL INGRESOS </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m0">
                            <th mat-header-cell *matHeaderCellDef> Enero </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[0] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesCuotas[0] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m1">
                            <th mat-header-cell *matHeaderCellDef> Febrero </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[1] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesCuotas[1] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m2">
                            <th mat-header-cell *matHeaderCellDef> Marzo </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[2] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesCuotas[2] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m3">
                            <th mat-header-cell *matHeaderCellDef> Abril </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[3] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesCuotas[3] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m4">
                            <th mat-header-cell *matHeaderCellDef> Mayo </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[4] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesCuotas[4] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m5">
                            <th mat-header-cell *matHeaderCellDef> Junio </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[5] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesCuotas[5] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m6">
                            <th mat-header-cell *matHeaderCellDef> Julio </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[6] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesCuotas[6] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m7">
                            <th mat-header-cell *matHeaderCellDef> Agosto </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[7] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesCuotas[7] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m8">
                            <th mat-header-cell *matHeaderCellDef> Septiembre </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[8] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesCuotas[8] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m9">
                            <th mat-header-cell *matHeaderCellDef> Octubre </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[9] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesCuotas[9] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m10">
                            <th mat-header-cell *matHeaderCellDef> Noviembre </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[10] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesCuotas[10] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m11">
                            <th mat-header-cell *matHeaderCellDef> Diciembre </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[11] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesCuotas[11] | currency}} </b></td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" class="rowFoot"></tr>
                    </table>
                    <div class="search-instructions text-center" *ngIf="tablaCuotas == null && tablaGastos == null">
                        <p>Sin resultados, realice una nueva búsqueda.</p>
                    </div>
                </div>
                <br>
                <hr>
                <br>
                <div class="col-sm-12 col-md-12 form-col">
                    <table mat-table [dataSource]="dataSourceGastos" class="mat-elevation-z8"
                        *ngIf="tablaGastos != null && tablaGastos.length > 0">
                        <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef> Gastos </th>
                            <td mat-cell *matCellDef="let element" style="width: 275px;"> {{element.tipo}} </td>
                            <td mat-footer-cell *matFooterCellDef><b>TOTAL EGRESOS </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m0">
                            <th mat-header-cell *matHeaderCellDef> Enero </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[0] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesGastos[0] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m1">
                            <th mat-header-cell *matHeaderCellDef> Febrero </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[1] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesGastos[1] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m2">
                            <th mat-header-cell *matHeaderCellDef> Marzo </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[2] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesGastos[2] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m3">
                            <th mat-header-cell *matHeaderCellDef> Abril </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[3] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesGastos[3] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m4">
                            <th mat-header-cell *matHeaderCellDef> Mayo </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[4] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesGastos[4] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m5">
                            <th mat-header-cell *matHeaderCellDef> Junio </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[5] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesGastos[5] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m6">
                            <th mat-header-cell *matHeaderCellDef> Julio </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[6] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesGastos[6] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m7">
                            <th mat-header-cell *matHeaderCellDef> Agosto </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[7] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesGastos[7] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m8">
                            <th mat-header-cell *matHeaderCellDef> Septiembre </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[8] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesGastos[8] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m9">
                            <th mat-header-cell *matHeaderCellDef> Octubre </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[9] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesGastos[9] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m10">
                            <th mat-header-cell *matHeaderCellDef> Noviembre </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[10] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesGastos[10] | currency}} </b></td>
                        </ng-container>

                        <ng-container matColumnDef="m11">
                            <th mat-header-cell *matHeaderCellDef> Diciembre </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[11] | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef><b> {{ totalesGastos[11] | currency}} </b></td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" class="rowFoot"></tr>
                    </table>
                </div>                    
                <br>
                <hr>
                <br>
                <div class="col-sm-12 col-md-12 form-col">
                    <table mat-table [dataSource]="dataSourceSaldos" class="mat-elevation-z8" *ngIf="tablaCuotas != null || tablaGastos != null">
                        <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let element" style="width: 275px;"> <b>{{element.tipo}}</b> </td>
                        </ng-container>

                        <ng-container matColumnDef="m0">
                            <th mat-header-cell *matHeaderCellDef> Enero </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[0] | currency}} </td>
                        </ng-container>

                        <ng-container matColumnDef="m1">
                            <th mat-header-cell *matHeaderCellDef> Febrero </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[1] | currency}} </td>
                        </ng-container>

                        <ng-container matColumnDef="m2">
                            <th mat-header-cell *matHeaderCellDef> Marzo </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[2] | currency}} </td>
                        </ng-container>

                        <ng-container matColumnDef="m3">
                            <th mat-header-cell *matHeaderCellDef> Abril </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[3] | currency}} </td>
                        </ng-container>

                        <ng-container matColumnDef="m4">
                            <th mat-header-cell *matHeaderCellDef> Mayo </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[4] | currency}} </td>
                        </ng-container>

                        <ng-container matColumnDef="m5">
                            <th mat-header-cell *matHeaderCellDef> Junio </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[5] | currency}} </td>
                        </ng-container>

                        <ng-container matColumnDef="m6">
                            <th mat-header-cell *matHeaderCellDef> Julio </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[6] | currency}} </td>
                        </ng-container>

                        <ng-container matColumnDef="m7">
                            <th mat-header-cell *matHeaderCellDef> Agosto </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[7] | currency}} </td>
                        </ng-container>

                        <ng-container matColumnDef="m8">
                            <th mat-header-cell *matHeaderCellDef> Septiembre </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[8] | currency}} </td>
                        </ng-container>

                        <ng-container matColumnDef="m9">
                            <th mat-header-cell *matHeaderCellDef> Octubre </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[9] | currency}} </td>
                        </ng-container>

                        <ng-container matColumnDef="m10">
                            <th mat-header-cell *matHeaderCellDef> Noviembre </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[10] | currency}} </td>
                        </ng-container>

                        <ng-container matColumnDef="m11">
                            <th mat-header-cell *matHeaderCellDef> Diciembre </th>
                            <td mat-cell *matCellDef="let element"> {{element.importes[11] | currency}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>  
            </div>
        </div>
    </div>
</div>