<div class="box-main-outlet">
    <div class="header-main-outlet">
        <div class="container container-full">
            <div class="row justify-content-between">
                <div class="col col-12 col-sm-12 col-md-2 order-2 order-md-1 form-col">
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                        <mat-label>Buscar</mat-label>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                        <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-10 second-opcions-header order-1 order-md-2">
                    <button mat-raised-button color="accent" class="pointer" (click)="openAgregar()"><mat-icon matSuffix>add</mat-icon> Norma</button>
                    <div class="btn-refresh pointer">
                        <i class="material-icons pointer" (click)="buscar()">refresh</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body-main-outlet">
        <div class="container container-full">
            <div class="row">
                <div class="col-sm-12 col-md-12 form-col">
                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="tipos != null && tipos.length > 0">                                                              
                                <!-- Nombre Column -->
                                <ng-container matColumnDef="nombre">
                                  <th mat-header-cell *matHeaderCellDef > Nombre </th>
                                  <td mat-cell *matCellDef="let element" class="pointer" (click)="openEditar(element)"> {{element.nombre}} </td>
                                </ng-container>
                              
                                <!-- importe Column -->
                                <ng-container matColumnDef="importe">
                                  <th mat-header-cell *matHeaderCellDef > Importe </th>
                                  <td mat-cell *matCellDef="let element"> {{element.importe | number: '.2-2'}} </td>
                                </ng-container>     

                                <!-- Estado Column -->
                                <ng-container matColumnDef="nivel">
                                  <th mat-header-cell *matHeaderCellDef > Nivel </th>
                                  <td mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.nivel == 'alto'" ><mat-icon matSuffix class="pointer" title="Alto" style="color: #c92828;vertical-align: bottom;">error_outline</mat-icon> Alto</span>
                                    <span *ngIf="element.nivel == 'medio'"><mat-icon matSuffix class="pointer" title="Medio" style="color: #c97a28;vertical-align: bottom;">error_outline</mat-icon> Medio</span>
                                    <span *ngIf="element.nivel == 'bajo'"><mat-icon matSuffix class="pointer" title="Bajo" style="color: #c7c928;vertical-align: bottom;">error_outline</mat-icon> Bajo</span>
                                  </td>
                                </ng-container>                 
                              
                                <!-- Estado Column -->
                                <ng-container matColumnDef="estado">
                                  <th mat-header-cell *matHeaderCellDef > Estado </th>
                                  <td mat-cell *matCellDef="let element"> 
                                    <mat-icon matSuffix *ngIf="element.estado == '0'" class="pointer color-inactivo" title="Inactivo" (click)="cambiarEstado(element, 1)">toggle_on</mat-icon>
                                    <mat-icon matSuffix *ngIf="element.estado == '1'" class="pointer color-activo"  title="Activo"(click)="cambiarEstado(element, 0)">toggle_off</mat-icon>
                                  </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="accion">
                                  <th mat-header-cell *matHeaderCellDef>  </th>
                                  <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
                                      <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                      <button mat-menu-item (click)="openEditar(element)">
                                        <mat-icon>edit</mat-icon>
                                        <span>Editar</span>
                                      </button>
                                    </mat-menu>                                    
                                  </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>                              
                  <div class="search-instructions text-center" *ngIf="tipos == null || tipos.length == 0">
                      <p>Sin resultados, realice una nueva búsqueda.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>