<div class="navbar-main">
        <div class="nv-logo">
            <a href="#">
                <img src="../../../../../assets/media/logo.svg" class="nv-logo-big" alt="ccondominium" />
            </a>
            <a href="#">
                <img src="../../../../../assets/media/logo.svg" class="nv-logo-small" alt="ccondominium" />
            </a>
        </div>
        <div class="nv-empresa-datos">
            <div class="empresa-nombre">
                <div *ngIf="configCondominio">{{configCondominio.nombre}}</div>
                <div *ngIf="!configCondominio" class="noContent">Condominio</div>
            </div>
            <div class="empresa-sucursal">
                <div *ngIf="dUser && dUser.casa != undefined && dUser.casa != ''">Casa: {{dUser.casa}}</div>
                <div *ngIf="!dUser || dUser.casa == undefined || dUser.casa == ''">Sin casa asignada</div>
            </div>
        </div>
        <div class="nv-options">
            <div class="nv-option-element nv-option-profile dropdown show">
                <div class="nv-img-profile pointer" title="Perfil"  style="cursor:pointer">
                    <img *ngIf="dUser.imagen == '' || dUser.imagen == null" src="../../../../../assets/media/user.svg" mat-button [matMenuTriggerFor]="menu"/>
                    <div *ngIf="dUser.imagen !== '' && dUser.imagen != undefined" [style.background-image]="'url(' + dUser.imagen + ')'" class="img-profile" mat-button [matMenuTriggerFor]="menu"></div>
                    <mat-menu #menu="matMenu">
                        <div class="nv-user-data">
                            <span *ngIf="dUser && dUser.nombre"><strong>{{dUser.nombre}}</strong></span>
                            <span *ngIf="!dUser && !dUser.nombre"><strong>{{dUser.nombre}}</strong></span>
                            <span title="{{iUser.user}}">{{iUser.user}}</span>
                        </div>
                        <div class="dropdown-divider"></div>
                        <button mat-menu-item  (click)="openPerfil()">
                            <mat-icon>account_box</mat-icon>
                            <span>Perfil</span>
                        </button>
                        <button mat-menu-item  (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Salir</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>