<div class="box-main-outlet">
    <div class="header-main-outlet">
        <div class="container container-full">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-2 form-col">
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                        <mat-label>Buscar</mat-label>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Casa">
                        <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-1 form-col" style="width: 100%; margin-top: 15px;">
                    <mat-form-field>
                        <mat-label>Año</mat-label>
                        <mat-select [(ngModel)]="anioSeleccionado" name="anio"  required>
                            <mat-option *ngFor="let anio of anios" [value]="anio">{{anio}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col col-12 col-sm-12 col-md-2 form-col" style="width: 100%; margin-top: 15px;">
                    <mat-form-field>
                        <mat-label>Mes</mat-label>
                        <mat-select [(ngModel)]="mesSeleccionado" name="mesInput"  required>
                            <mat-option *ngFor="let mes of meses" [value]="mes.key">{{mes.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col col-12 col-sm-12 col-md-2 form-col" style="width: 100%; margin-top: 15px;">
                    <mat-form-field>
                        <mat-label>Tipo</mat-label>
                        <mat-select [(ngModel)]="tipo" name="tipoInput"  required>
                            <mat-option *ngFor="let tipo of tipos" [value]="tipo._id">{{tipo.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col col-12 col-sm-12 col-md-5 second-opcions-header ">
                    <button mat-raised-button color="accent" class="pointer" (click)="buscar()"><mat-icon matSuffix>search</mat-icon></button>
                    <button mat-raised-button color="accent" class="pointer" (click)="openAgregar()"><mat-icon matSuffix>add</mat-icon> Cumplimiento</button>
                </div>
            </div>
        </div>
    </div>
    <div class="body-main-outlet">
        <div class="container container-full">
            <div class="row">
                <div class="col-sm-12 col-md-12 form-col">

                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="cumplimientos != null && cumplimientos.length > 0">
                                <ng-container matColumnDef="casa">
                                  <th mat-header-cell *matHeaderCellDef > Casa </th>
                                  <td mat-cell *matCellDef="let element" class="pointer cumplimientoImporte" (click)="openVer(element._id, element.tipoCumplimiento)"> {{element.casa}} </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="tipo">
                                    <th mat-header-cell *matHeaderCellDef > Norma </th>
                                    <td mat-cell *matCellDef="let element" class="pointer cumplimientoImporte" (click)="openVer(element._id, element.tipoCumplimiento)"> {{getTipoSeleccionado()}} </td>
                                </ng-container>                                

                                <!-- importe Column -->
                                <ng-container matColumnDef="importe">
                                  <th mat-header-cell *matHeaderCellDef > Importe </th>
                                  <td mat-cell *matCellDef="let element"> {{element.importe | number: '.2-2'}} </td>
                                </ng-container>     

                                <!-- Estado Column -->
                                <ng-container matColumnDef="nivel">
                                  <th mat-header-cell *matHeaderCellDef > Nivel </th>
                                  <td mat-cell *matCellDef="let element"> 
                                    <span *ngIf="element.nivel == 'alto'" ><mat-icon matSuffix class="pointer" title="Alto" style="color: #ff0000;vertical-align: bottom;">error_outline</mat-icon> Alto</span>
                                    <span *ngIf="element.nivel == 'medio'"><mat-icon matSuffix class="pointer" title="Medio" style="color: #ff8200;vertical-align: bottom;">error_outline</mat-icon> Medio</span>
                                    <span *ngIf="element.nivel == 'bajo'"><mat-icon matSuffix class="pointer" title="Bajo" style="color: #00b8ff;vertical-align: bottom;">error_outline</mat-icon> Bajo</span>
                                  </td>
                                </ng-container>     
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>                              
                  <div class="search-instructions text-center" *ngIf="cumplimientos == null || cumplimientos.length == 0">
                      <p>Sin resultados, realice una nueva búsqueda.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>