<div class="box-main-outlet">
    <div class="header-main-outlet">
        <div class="container container-full">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-2 form-col">
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                        <mat-label>Casa</mat-label>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Casa">
                        <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-1 form-col" style="width: 100%; margin-top: 0px;margin-top: 15px;">
                    <mat-form-field>
                        <mat-label>Año</mat-label>
                        <mat-select [(ngModel)]="anioSeleccionado" name="anio" required>
                            <mat-option *ngFor="let anio of anios" [value]="anio">{{anio}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col col-12 col-sm-12 col-md-2 form-col" style="width: 100%; margin-top: 0px;margin-top: 15px;">
                    <mat-form-field>
                        <mat-label>Mes</mat-label>
                        <mat-select [(ngModel)]="mes" name="mesInput" required>
                            <mat-option *ngFor="let mes of meses" [value]="mes.key">{{mes.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col col-12 col-sm-12 col-md-2 form-col" style="width: 100%; margin-top: 0px;margin-top: 15px;">
                    <mat-form-field>
                        <mat-label>Tipo</mat-label>
                        <mat-select [(ngModel)]="tipo" name="tipoInput" required>
                            <mat-option *ngFor="let tipo of tipos" [value]="tipo._id">{{tipo.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div lass="col col-12 col-sm-12 col-md-2 form-col" style="margin-top: 15px;">
                    <button mat-raised-button color="accent" class="pointer" (click)="buscar()">
                        <mat-icon matSuffix>search</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="body-main-outlet">
        <div class="container container-full">
            <div class="row">
                <div class="col-sm-12 col-md-12 form-col">
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"
                        *ngIf="tablas != null && tablas.length > 0" style="width: 450px;">
                        <!-- Nombre Column -->
                        <ng-container matColumnDef="casa">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Casa </th>
                            <td mat-cell *matCellDef="let element"> {{element.casa}} </td>
                        </ng-container>

                        <!-- importe Column -->
                        <ng-container matColumnDef="importe">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cuota actual </th>
                          <td mat-cell *matCellDef="let element"> {{element.importe | currency}} </td>
                        </ng-container>  

                        <!-- Importe Column -->
                        <ng-container matColumnDef="nueva">
                            <th mat-header-cell *matHeaderCellDef> Nueva cuota </th>
                            <td mat-cell *matCellDef="let element">

                                <mat-form-field class="" appearance="outline" >
                                    <input type="number" matInput placeholder="" (keyup.enter)="accionTabla(element, $event.target.value)" (blur)="accionTabla(element, $event.target.value)">
                                </mat-form-field>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div class="search-instructions text-center" *ngIf="tablas == null || tablas.length == 0">
                        <p>Sin resultados, realice una nueva búsqueda.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>