<div class="box-main-outlet">
    <br>
    <div class="body-main-outlet">
        <div class="container container-full">
            <div class="row">
                <div class="col-sm-12 col-md-4 form-col">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <mat-card-title>Configuración</mat-card-title>
                          <mat-card-subtitle>Condominio</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="form-container container">
                                <form novalidate #configForm="ngForm">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 form-col">
                                            <div class="form-group">
                                                <mat-form-field class="input-disabled" appearance="outline" style="width: 100%">
                                                    <mat-label>Nombre</mat-label>
                                                    <input type="text" maxlength="50" matInput placeholder="Nombre" [(ngModel)]="config.nombre" required #nombre="ngModel" id="nombre" name="nombre" title="Nombre">
                                                    <span matSuffix class="matSuffixEmpty"></span>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 form-col">
                                            <div class="form-group">
                                                <mat-form-field class="input-disabled" appearance="outline" style="width: 100%">
                                                    <mat-label>Casas</mat-label>
                                                    <input type="number" matInput placeholder="Casas" [(ngModel)]="config.casas" required #nombre="ngModel" id="casas" name="casas" title="Casas">
                                                    <span matSuffix class="matSuffixEmpty"></span>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 form-col">
                                            <div class="form-group">
                                                <mat-form-field class="input-disabled" appearance="outline" style="width: 100%">
                                                    <mat-label>Link</mat-label>
                                                    <input type="text" maxlength="250" matInput placeholder="Link" [(ngModel)]="config.link" required #link="ngModel" id="link" name="link" title="Link">
                                                    <span matSuffix class="matSuffixEmpty"></span>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </mat-card-content>
                        <mat-card-actions style="text-align: center;">
                            <button mat-button color="primary" class="main-botton" (click)="editar(configForm)">Editar</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>