<div class="login-background container-fluid">
    <div class="login-header">
    </div>
    <div class="login-box container">
        <div class="row justify-content-md-center">
            <div class="text-center login-main-box">
                <div class="login-logo">
                    <a href="./"><img src="../../../../assets/media/logo.svg" alt="Bookkeep" /></a>
                </div>
                <br />
                <form (ngSubmit)="onSubmit(resetForm)" novalidate #resetForm="ngForm">
                    <div class="form-group">
                        <mat-form-field appearance="legacy" style="width: 90%;">
                            <mat-label>Correo electrónico</mat-label>
                            <input type="text" matInput required email [(ngModel)]="correo" #email="ngModel" id="email" name="email">
                            <span matPrefix><i class="far fa-user icon"></i></span>
                            <span matSuffix matTooltip="Campo en formato de correo electrónico (usuario@dominio.com)" class="input-help-icon"><i class="fa fa-info-circle"></i></span>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <div class="login-submit">
                            <button type="submit" mat-raised-button color="primary" class="login-button" [disabled]="submitted"><i class="fas fa-circle-notch fa-spin button-loading" *ngIf="submitted"></i>Restablecer contraseña</button>
                        </div>
                    </div>
                </form>
                <br />
                <div class="login-box-footer">
                    <div class="link-Prueba">
                        ¿Recordaste tu contraseña? <a [routerLink]="['/auth/login']">Iniciar sesión.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


